<div class="loading">
    <div fxFlex fxLayout="column" class="row">
        <div fxLayout="row wrap">
            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>

            <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                style="padding: 10px;">
                <div class="">
                    <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                        <div class="img-container">
                            <div><img class="card-img loading-preloader" src="../../assets/img-placeholder.svg"> </div>
                        </div>
                        <h5 class="loading-top">Loading...</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>