<mat-expansion-panel expanded>
    <mat-expansion-panel-header>
        <h2 [class.ant-collapse-header]='true'>SERIES </h2>
    </mat-expansion-panel-header>
    <div class="container text-center">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let seriesslider of allSeriesSlider | async">
                <div class="container">
                    <div data-index="1" tabindex="-1" aria-hidden="false" [class.card-w]='true'>
                        <a [routerLink]="'/series/'+seriesslider.title+'/'+seriesslider.id">
                            <div>
                                <div tabindex="-1" [style.width]="'100%'" [style.display]="'inline-block'">
                                    <div class="idVDCi" draggable="true" [style.opacity]="'1'">
                                        <div [class.img-container]='true'>
                                            <img [class.card-img]='true' src="{{seriesslider.thumbnail.path}}.{{seriesslider.thumbnail.extension}}"
                                                width="50%" [style.height]="'240px'" [style.padding]="'10px'">
                                        </div>
                                        <div [class.meta-container]='true'>
                                            <h5 [class.card-title]='true'>{{seriesslider.title}}</h5>
                                            <p [class.card-description]='true'>{{seriesslider.description ?
                                                seriesslider.description : 'Card description not
                                                available for this card..'}}</p>
                                            <div [class.view-card]='true'>View Details</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</mat-expansion-panel>