<div class="sc-hSdWYo biZBEW row ">
    <div class="sc-fjdhpX ZOqUU">
        <h2 class="sc-jzJRlG ccSxrl">ALl Comics {{getTotal()}} </h2>
    </div>
    <div>
        <div fxFlex fxLayout="column" class="row">
            <div fxLayout="row wrap">
                <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                    *ngFor="let comics of allComics" style="padding: 10px;">
                    <div class="">
                        <a [routerLink]="'/comics/'+comics.title+'/'+comics.id">
                            <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                                <div class="img-container">
                                    <img class="card-img"
                                        src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}">
                                </div>
                                <div class="meta-container">
                                    <h5 class="card-title">{{comics.name}}</h5>
                                    <p class="card-title">{{comics.title}}</p>
                                    <p class="card-description">{{comics.description ? comics.description : 'Card
                                        description not available for this card..'}}</p>
                                    <div class="view-card">View Details</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loadingShow">
        <app-loader></app-loader>
    </div>

    <div class="row">
        <mat-spinner style="margin: auto;" *ngIf="showSpinner"></mat-spinner>
    </div>

</div>

<div style="text-align: center; padding: 30px;">
    <button (click)="getComicsAll()" mat-raised-button class="mat-bt">Load more comics</button>
</div>