<div [class.biZBEW]='true' >
    <div [class.ZOqUU]='true'>
        <h2 [class.ccSxrl]='true'>ALl Series {{getTotal()}}</h2>
    </div>
    <div>
        <div fxFlex fxLayout="column" class="row">
            <div fxLayout="row wrap">
                <div [class.ant-row]='true' fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column"
                    *ngFor="let series of allSeries" [style.padding]="'10px'">
                    <div>
                        <a [routerLink]="'/series/'+series.title+'/'+series.id">
                            <div class="idVDCi" [style.opacity]="'1'" draggable="true">
                                <div [class.img-container]='true'>
                                    <img [class.card-img]='true'
                                        src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}">
                                </div>
                                <div [class.meta-container]='true'>
                                    <h5 [class.card-title]='true'>{{series.name}}</h5>
                                    <p [class.card-description]='true'>{{series.description ? series.description :
                                        'Card description not available for this card..'}}</p>
                                    <p [class.card-title]='true'>{{series.title}}</p>
                                    <div [class.view-card]='true'>View Details</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loadingShow">
        <app-loader></app-loader>
    </div>
    <div class="row">
        <mat-spinner [style.margin]="'auto'" *ngIf="showSpinner"></mat-spinner>
    </div>
    <div>
        <mat-paginator [pageSizeOptions]="[10,50,100]" showFirstLastButtons></mat-paginator>
    </div>
</div>