
<div class="sc-hSdWYo biZBEW row ">
    <div class="sc-fjdhpX ZOqUU"><h2 class="sc-jzJRlG ccSxrl">ALl Series (12181)</h2></div>
        <div>
            <div fxFlex fxLayout="column" class="row">
                <div fxLayout="row wrap">
                    <div class="ant-row" fxFlex="16" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" *ngFor="let series of allSeries | async"
                        style="padding: 10px;">
                            <div class="ant-col gutter-row ant-col-xs-12 ant-col-sm-8 ant-col-md-6 ant-col-lg-4">
                                <div class="sc-kEYyzF idVDCi" style="opacity: 1;" draggable="true">
                                    <div class="img-container">
                                        <img class="card-img" src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}">
                                    </div>
                                    <div class="meta-container">
                                        <h5 class="card-title">{{series.name}}</h5>
                                        <!-- <p class="card-description">{{character.description}}</p> -->
                                        <p class="card-title">{{series.title}}</p>
                                        <div class="view-card">View Details</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div> 
        </div>
  </div>
 
  