.ccOtAX {
    position: relative;
    width: 100%;
}
.ccOtAX::before {
    content: "";
    position: absolute;
    background-image: url(../../assets/carousel-img.6bbf546f.png);
    inset: 0px;
    z-index: -1;
    background-repeat: repeat-x;
}
.ccOtAX .ant-carousel {
    background-color: rgba(13, 37, 63, 0.8);
}
.ant-carousel, .ant-carousel .slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ant-carousel .slick-slider {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.ant-carousel .slick-slider .slick-list, .ant-carousel .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.ccOtAX .ant-carousel .slick-slide {
    text-align: center;
    height: 350px;
    padding-top: 45px;
    line-height: 160px;
    overflow: hidden;
}
.ccOtAX .carousel-item {
    height: 100%;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}
.slick-track{
    width: 100% !important;
}
.legend-title .legend-title-text{
    color: #57dcff;
    font-size: 20px;
    padding: 11px;
}
.chartstyle{
    width: 500px; height: 150px; margin: auto; margin-top: 50px;
}
.chartstylepie{
    width: 500px; height: 250px; margin: auto;
}

@media (max-width:600px){
    .chartstyle{
        width: 300px; height: 150px; margin: auto; margin-top: 50px;
    }
    .chartstylepie{
        width: 250px; height: 250px; margin: auto;
    }
}